body{
	margin: 0;	
}

.container {
	display: grid;
	height: 100vh;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 20vh 1fr 20vh;
	grid-gap: 5px;
}

.item {
	background: #89ece1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container > header {
	grid-column: 3/11;
}

.container > main {
	grid-column: 1/5;
}

.container > aside {
	grid-column: 6/13;
}

.container > footer {
	grid-column: 5/10;
}