div.test {
    background-color: aqua;
    padding-top: 40px;
}

ul.flexend1 {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: 0px;
    justify-content: space-between;
}

ul.flexend2 {
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    padding-left: 1px;
    justify-content: space-around;
}

li {
    background-color: orangered;
    width: 230px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}