
#flexcontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 20px;
    padding: 20px;
    border: 1px solid black;
    margin: 20px;
}

header, footer {
    height: 50px;
    border: 1px solid black;
}

#subcontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 20px;
    padding: 20px;
    height: 500px;
    border: 1px solid black;
}

aside {
    height: 24%;
    width: 12%;
    border: 1px solid black;
}

article {
    height: 71%;
    width: 12%;
    border: 1px solid black;
}

main {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    border: 1px solid black;
    margin-left: 20px;
    width: 86%;
    height: 99%;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
}

.caja-flex {
    border: 1px solid black;
    width: 250px;
    height: 70px;
}